.content-wrapper {
  display: flex;
  flex-direction: column;
  font-family: 'Lato', sans-serif;
  justify-content: space-between;
  margin: auto;
}

/***** HEADER *****/

.menu {
  align-items: baseline;
  background: #024f93;
  color: white;
  display: flex;
  flex-direction: row;
  font-size: 1.5em;
  font-weight: bold;
  justify-content: space-between;
  padding: 2em 0.5em 1em;
}

.info-text {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1em 0 2em 0;
}

.menu-side-button {
  font-size: 0.8em;
}

.menu-side-button i {
  font-size: 1.5em;
  vertical-align: middle;
}

/***** FORM *****/

.signup-form {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 3em;
}

.form-group {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.small {
  color: #717171;
  font-size: 0.9em;
  font-weight: bold;
}

.link-text {
  color: #44aeff;
}

.label {
  color: #adadad;
  text-align: left;
  visibility: hidden;
}

.shown {
  visibility: visible;
}

.form-input {
  border: none;
  border-bottom: 1px solid #adadad;
  font-size: 1.2em;
  font-weight: 600;
  padding: 0.4em;
  height: 2.5em;
  outline: none;
}

.form-input::placeholder {
  color: #adadad;
  font-weight: 100;
}

/***** SUBMIT BUTTON *****/

#submit {
  background: #0079ff;
  border-radius: 10px;
  font-size: 1.5em;
  font-weight: bold;
  letter-spacing: 0.1em;
  margin-top: 1em;
  padding: 0.7em;
}

.btn[disabled]{
  opacity: 0.3;
}

/***** FOOTER *****/

.footer-text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1em 0 3em 0;
}