body {
  margin: 0;
  /*font-family: Arial, Helvetica, sans-serif;*/
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  letter-spacing: 0.08em;
}

#background {
  width: 100%;
}

.hidden {
  visibility: hidden;
}

/***** MENU BACKGROUND BLUR *****/

.image-blur {
  background: url(Mock-Sign_up-ScreenB-2017_06_30_a.jpg) center center no-repeat;
  background-size: cover;
  background-position: center -17vw;
  bottom: 0;
  filter: blur(5px);
  left: 0;
  position: absolute;
  right: 0;
  top: 18.5vw;
  width: 100%;
  -webkit-animation-duration: 0.5s;
  z-index: 100;
}

/***** MENU *****/

#menu {
  background: rgba(0, 0, 0, 0.8);
  color: white;
  position: absolute;
  height: 100%;
  top: 17vw;
  width: 100%;
  -webkit-animation-duration: 0.5s;
  z-index: 200;
}

.menu-item {
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  height: 14vw;
}

.menu-item:first-child {
  background: rgba(193, 36, 201, 0.2);
  border: none;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.menu-item span {
  cursor: pointer;
  font-size: 4vw;
  vertical-align: super;
}

.menu-item i {
  font-size: 10vw;
  padding: 2vw 6vw;
  text-align: center;
  width: 20vw;
}
